.card audio {
  width: 300px;
  height: 250px;
  background-color: #000;
  display: block !important;
}

h2.card-title {
  margin-top: -63px;
  padding: 0 10px;
  line-height: 40px;
}

h2.card-title.green {
  color: #00BF82;
}

.card-header {   
  margin-top: 200px;
  padding: 0px 15px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  background: #fff;
  color: #212529;
}

.back .card-header {
  background: #fff;
  color: #000;
}

.card-header.active { 
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #fff;
}

.inactive {
  opacity: 0.5;
}

.rotate {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../assets/img/rotate.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 5px 20px;
  bottom: 0px;
  right: 0px;
  transition: .3s;
  filter: grayscale(1);
}

.rotate:hover {
  filter: none;
}

.card-container {
  perspective: 500px;
}

.front, .back, .rotate {
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}

.card {
  position: relative;  
  transform-style: preserve-3d;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 25px;  
  box-shadow: 0 1px 3px 0 #ccc;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
  transition: box-shadow .25s linear, transform 0.7s;
}

.card:hover{
  box-shadow: -1px 5px 15px 0px rgba(0,0,0,0.5);
}

.translate {
  transform: rotateY(180deg);
}

.front, .back { 
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
}

.card-cover .front, .card-cover .back {
  background-size: cover;
  background-position: center center;
} 

.btns {
  width: 100%;
  text-align: center;
}

.btn {  
  box-sizing: border-box;
  padding: 20px 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #fff;
  border-radius: 10px;
  outline: 0 !important;
  border-width: 1px;
  transition: .3s;
}

.repeat {
  width: 65px;
  font-size: 0;
  background-image: url("../../assets/img/repeat.svg"), linear-gradient(40deg, #ffd86f, #fc6262);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px, cover;
  background-position: center center;
}

.none {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  color: #fc6262;
}

.star-error {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-image: url("../../assets/img/star.svg");
  background-size: 40px 40px;
}

.star-succes {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-image: url("../../assets/img/star-win.svg");
  background-size: 40px 40px;
}

@media (max-width: 1430px) {  
  .rating {
    max-width: 1000px;
  }  
}

@media (max-width: 1080px) {
  .rating {
    max-width: 650px;
  }
}

@media (max-width: 730px) {
  .btn {
    width: 300px;
  }
  .btn.repeat {
    width: 65px;
  }
  h2.card-title {
    display: none;
  }
  .rating {
    width: 100%;
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
}

@media (max-width: 430px) {
  .card {
    margin: 20px 0 !important;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}