.card {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 25px;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.card:hover,
.card:active {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.card audio {
  width: 300px;
  height: 250px;
  background-color: #000;
  display: block !important;
}

.card-header {   
  margin-top: auto;
  padding: 12px 15px;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  width: 100%;
  border-top: 2px solid rgb(240, 240, 240);
  pointer-events: none;
}

.card-header.active { 
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #fff;
}