.card audio {
  width: 300px;
  height: 250px;
  background-color: #000;
  display: block !important;
}

.card-header {   
  margin-top: 200px;
  padding: 12px 15px;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.card-header.active { 
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #fff;
}

.inactive {
  opacity: 0.5;
}

.rotate {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/img/rotate.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  bottom: 0;
  left: 0;
  opacity: .5;
  transition: .3s;
}

.rotate:hover {
  opacity: .9;
  transform: scale(1.1);
}

.card-container {
  perspective: 500px;
}

.front, .back, .rotate {
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}

.card {
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 25px;  
  box-shadow: 0 1px 3px 0 #ccc;
}

.translate {
  transform: rotateY(180deg);
}

.front, .back { 
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
}

.card-cover .front, .card-cover .back {
  background-size: cover;
  background-position: center center;
} 

.btns {
  width: 100%;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  padding: 20px 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #fff;
  border-radius: 10px;
  outline: 0 !important;
  border-width: 1px;
  transition: .3s;
}

.repeat {
  width: 65px;
  font-size: 0;
  background-image: url("../../assets/img/repeat.svg"), linear-gradient(40deg, #ffd86f, #fc6262);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px, cover;
  background-position: center center;
}

.none {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0px auto 0;
  height: 40px;
  overflow-x: hidden;
  
  line-height: 36px;
  font-size: 36px;
  color: #fc6262;
}

.star-error {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-image: url("../../assets/img/star.svg");
  background-size: 40px 40px;
}

.star-succes {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-image: url("../../assets/img/star-win.svg");
  background-size: 40px 40px;
}

@media (max-width: 730px) {
  .btn {
    width: 300px;
  }
}

@media (max-width: 430px) {
  .card {
    margin: 20px 0 !important;
  }
}
