.main-card {
  width: 300px;
  height: 280px;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  color: #212529;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(180deg, #FD6A63 0%, #FEB46B 40%, #ffffff 40%, #ffffff 100%);
  margin: 20px 25px;
  cursor: pointer;
  transition: .3s;
}

.main-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  object-fit: cover;
  margin: 30px auto 30px;
}

.main-card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.main-container {
  padding-top: 95px;
}
