nav {
  position: relative;
}

.header-item {
  font-family: Roboto;
  padding: 10px;
  margin: 0;
  margin-left: 60px;
  cursor: pointer;  
  color: #fff;
  min-width: 145px;
  text-align: left;
}

.header-item.active {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #fff;
}

.menuToggle {
  display: block;
  position: absolute;
  top: 11px;
  left: 0;  
  z-index: 3;  
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;  
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: #cdcdcd;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  display: flex;  
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: calc(50vw - 720px + 360px);
  height: calc(100vh + 20px);
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  left: calc(675px - 50vw);  
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu.green {
  background: linear-gradient(40deg, #00BF82, #0099AE);
}

.header-item {
  position: relative;
  padding: 10px 0;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}

.header-item:hover {  
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: rgba(205, 205, 205, .5);
}

.header-item:nth-child(1) {
  padding-left: 0;
}

.menuToggle input:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

@media (max-width: 1430px) {
  .menu {
    width: calc(50vw - 500px + 320px);
    left: calc(500px - 50vw);
  }
}

@media (max-width: 1080px) {
  .menu {
    width: 50vw;
    left: calc(325px - 50vw);
  }
}

@media (max-width: 730px) {
  .menu {
    width: 50vw;
    left: calc(150px - 50vw);
  }
  .header-item {
    margin-left: 40px;
  }
}

@media (max-width: 640px) {
  .menu {
    width: 100vw;
    left: calc(150px - 50vw);
  }
}
