.header {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 20px;
  width: 100%;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  border-bottom: 2px solid #F0F0F0;
}

.header-item {
  font-family: Roboto;
  padding: 10px;
  margin: 0;
  cursor: pointer;  
  color: #fff;
  min-width: 145px;
  text-align: center;
}

.header-item.active {
  text-decoration: underline;
}
